#container
{
	margin: 0 auto;
	width: 900px;
	backgound: #fff;
	font-family: "lucida Grande", "Bitstram Vera Sans", "Verdana";
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	min-height: calc(90vh);
}